<%- include('../partials/header', { title: "Log Game Play", showBanner: false })
%> <%- include('../partials/navbar') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/plays/logPlay" method="POST">
  <input type="hidden" id="gameId" name="gameId" value="<%= gameId %>" />
  
  <label for="gameTitle">Game Title:</label>
  <input type="text" id="gameTitle" name="gameTitle" required />

  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required />

  <label for="players">Players:</label>
  <input type="text" id="players" name="players" required />

  <label for="notes">Notes:</label>
  <textarea id="notes" name="notes" class="form-control pre-wrap" rows="3"></textarea>  

  <button type="button" class="btn btn-primary" type="submit">Log Play</button>
</form>
</div>
</div>
</div>

<%- include('../partials/footer') %>
