<%- include('../partials/header', { title: "Log Game Play", showBanner: false })
%> <%- include('../partials/navbar') %>

<h2>Log Play</h2>
<form action="/plays/logPlay" method="POST">
  <input type="hidden" id="gameId" name="gameId" value="<%= gameId %>" />
  
  <label for="gameTitle">Game Title:</label>
  <input type="text" id="gameTitle" name="gameTitle" required />

  <label for="date">Date:</label>
  <input type="date" id="date" name="date" required />

  <label for="players">Players:</label>
  <input type="text" id="players" name="players" required />

  <label for="notes">Notes:</label>
  <textarea id="notes" name="notes" class="form-control pre-wrap" rows="3"></textarea>  

  <button type="submit">Log Play</button>
</form>

<%- include('../partials/footer') %>
