<%- include('../partials/header', { showBanner: false }) %>
<%- include('../partials/navbar') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/boardgames/add" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <!-- bootstrap styling -->
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title" name="title" required />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
      required
    ></textarea>
  </div>
  <!-- Use Multer for image uploads -->
  <div class="mb-3">
    <label for="image" class="form-label">Board Game Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      accept="image/*"
    />
  </div>
  <div class="mb-3">
    <label for="playerCountMin">Minimum Players:</label>
    <input type="number" id="playerCountMin" name="playerCountMin" required />
  </div>
  <div class="mb-3">
    <label for="playerCountMax">Maximum Players:</label>
    <input type="number" id="playerCountMax" name="playerCountMax" required />
  </div>
  <div class="mb-3">
    <label for="genres">Genres (comma-separated):</label>
    <input type="text" id="genres" name="genres" required />
  </div>
  <div class="mb-3">
    <label for="mechanics">Game Mechanics (comma-separated):</label>
    <input type="text" id="mechanics" name="mechanics">
  </div>
  <div class="mb-3">
    <label for="ownershipStatus">Collection:</label>
    <select id="ownershipStatus" name="ownershipStatus" class="form-control">
      <option value="Personal Collection" selected>Personal Collection</option>
      <option value="Friends Collection">Friends Collection</option>
      <option value="Group Collection">Group Collection</option>
      <option value="Online">Online</option>
    </select>      
  </div>  

  <button type="submit" class="btn btn-primary"">Add Board Game</button>
</form>
</div>
</div>
</div>

<%- include('../partials/footer') %>
