/* Common styles */
.banner {
  background-image: url('../images/brown-wooden-textured-flooring-background.jpg');
  background-size: cover;
  background-position: center;
  color: #a9a9a9;
  text-align: center;
  padding: 20px;
}

body {
  background-color: #f2f2f2;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: border-color 0.3s;
}

.card h3 {
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover h3 {
  opacity: 1;
}

.card-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.image-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  transition: background-color 0.3s;
}

.card:hover .image-title {
  background-color: rgba(0, 0, 0, 0.7);
}

.image-title h3 {
  margin: 0;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card:hover {
  border-color: #0000ff;
}

.container {
  margin-top: 20px;
}

.banner-title {
  color: #fff;
  text-align: center;
  padding: 20px;
}

.game-details {
  margin: 20px;
}

.pre-wrap {
  white-space: pre-wrap;
}

footer {
  background-color: #212529;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#backToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

#backToTopButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

#backToTopButton:focus {
  outline: none;
}

.game-details form {
  margin-bottom: 10px;
}

.game-details form button {
  margin-right: 10px;
}

/* Styles for Log Page */
.all-play-logs {
  margin-top: 20px;
}

.play-log-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 250px;
  overflow: auto;
  margin-bottom: 20px;
}

.play-log-card-header {
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.col-md-3 {
  margin-bottom: 20px;
}

.play-log-title {
  margin-bottom: 5px;
}

.play-log-date {
  font-size: 12px;
}

.play-log-card-body {
  padding: 10px;
}

.play-log-players-title {
  margin-bottom: 5px;
}

.play-log-players-list {
  padding-left: 0;
}

.play-log-player {
  list-style-type: none;
}

.play-log-toggle-notes {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.play-log-notes-collapse {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  display: none;
}

/* Show the notes content when the collapse class has 'show' */
.play-log-notes-collapse.show {
  display: block;
}

.play-log-card-footer {
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.play-log-edit-button,
.play-log-delete-button {
  margin-right: 5px;
}
