</main>
<footer>
    <button onclick="topFunction()" id="backToTopButton" title="Go to top">Top</button>
</footer>

<script src="scripts/footer.js"></script>
</body>
</html>
</footer>
</body>
</html>
