<%- include('./partials/header', { showBanner: false }) %>

<title><%= title %></title>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
  <p>Sign in to access your board game collection:</p>
  <form action="/login" method="POST">
    <label for="signInUsername">Username:</label>
    <input type="text" id="signInUsername" name="signInUsername" required>
  
    <label for="signInPassword">Password:</label>
    <input type="password" id="signInPassword" name="signInPassword" required>
  
    <button type="submit">Sign In</button>

  <p>Or log in with:</p>
  <a href="/auth/google">Login with Google</a>
</div>
</form>
</div>
</div>
</div>
<%- include('./partials/footer') %>